@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,500;1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;600&family=Jost:ital,wght@0,400;0,500;1,200&display=swap");
body {
  height: 100hv;
  margin: 0;
  font-family: "Inter";
  background-image: url("../icons/webpageBackdrop.jpg");
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0%;
}

a {
  text-decoration: none;
}

.nav-container {
  background-color: #3F3F3F;
}
.nav-container a {
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 2em;
}
header .logo {
  font-family: "Jost";
  font-weight: 800;
  font-size: 2em;
  color: #BCFD4C;
}
header nav {
  float: right;
  padding-bottom: 0;
}
header nav ul {
  display: flex;
}
header nav ul a {
  font-size: 1.2em;
  display: block;
  padding: 0 0.5em;
  padding-top: 1em;
}

.hero {
  overflow: hidden;
  display: grid;
  text-align: left;
  height: 100hv;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .hero {
    background-color: rgba(110, 110, 110, 0.4941176471);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
  }
}
.name {
  padding-top: 6em;
  display: row;
  position: relative;
  color: #3F3F3F;
  height: 100%;
  -webkit-animation: animate-name 1.1s ease-in;
          animation: animate-name 1.1s ease-in;
}
.name .title-card svg {
  padding: 0;
  fill: rgba(188, 253, 76, 0.7725490196);
  width: 85%;
  height: 12em !important;
  left: -0.5em;
}
.name .first {
  font-Family: "Jost";
  font-size: 4em;
  font-weight: 700;
  position: absolute;
  top: 0.9em;
  left: 0.7em;
}
.name .last {
  font-size: 2em;
  font-weight: 400;
  position: absolute;
  top: 4.5em;
  left: 1.5em;
}
.name .title {
  font-size: 1.3em;
  font-weight: 400;
  position: absolute;
  top: 9.5em;
  left: 2.1em;
}

@-webkit-keyframes animate-name {
  0% {
    transform: translate(-75%);
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 1;
  }
  30% {
    transform: translate(-74%);
  }
  75% {
    transform: translate(15px);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes animate-name {
  0% {
    transform: translate(-75%);
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 1;
  }
  30% {
    transform: translate(-74%);
  }
  75% {
    transform: translate(15px);
  }
  100% {
    transform: translate(0);
  }
}
.social {
  padding-top: 3em;
  display: row;
  text-align: right;
  overflow: hidden;
  position: relative;
  height: 100%;
  padding-bottom: 6em;
  -webkit-animation: animate-social 1.1s ease-in;
          animation: animate-social 1.1s ease-in;
}
.social .social-card {
  overflow: hidden;
  right: 0px;
}
.social .social-card svg {
  transform: rotate(180deg);
  padding: 0;
  fill: rgba(78, 78, 78, 0.8352941176);
  width: 85%;
  height: 12em !important;
  overflow: hidden;
}
.social ul li .github {
  position: absolute;
  right: 10.5em;
  top: 6.5em;
}
.social ul li .github svg {
  fill: #BCFD4C;
  width: 4em;
  height: 4em;
}
.social ul li .linkedin {
  display: block;
  position: absolute;
  right: 5.5em;
  top: 6.5em;
}
.social ul li .linkedin svg {
  fill: #BCFD4C;
  width: 4em;
  height: 4em;
}
.social ul li .cv {
  display: block;
  position: absolute;
  right: 0.75em;
  top: 6.5em;
}
.social ul li .cv svg {
  fill: #BCFD4C;
  width: 4em;
  height: 4em;
}

@-webkit-keyframes animate-social {
  0% {
    transform: translate(75%);
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 1;
  }
  30% {
    transform: translate(74%);
  }
  75% {
    transform: translate(-5px);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes animate-social {
  0% {
    transform: translate(75%);
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 1;
  }
  30% {
    transform: translate(74%);
  }
  75% {
    transform: translate(-5px);
  }
  100% {
    transform: translate(0);
  }
}
@media only screen and (min-width: 830px) {
  header {
    padding: 0.5em 2em;
  }
  header .logo {
    font-weight: 800;
    font-size: 2.5em;
  }
  header nav {
    padding-bottom: 0;
  }
  header nav ul a {
    font-size: 1.5em;
    padding: 0 0.5em;
    padding-top: 1em;
  }

  .name {
    padding-top: 8em;
    height: 30%;
  }
  .name .title-card svg {
    padding: 0;
    width: 60%;
    height: 18em !important;
    left: -0.5em;
  }
  .name .first {
    font-size: 7em;
    font-weight: 700;
    top: 0.5em;
    left: 0.8em;
  }
  .name .last {
    font-size: 5em;
    font-weight: 400;
    top: 2.5em;
    left: 1.2em;
  }
  .name .title {
    font-size: 3em;
    font-weight: 400;
    top: 10.5em;
    left: 2em;
  }

  .social {
    margin-top: -40%;
  }
  .social .social-card {
    right: 0px;
  }
  .social .social-card svg {
    padding: 0;
    width: 60%;
    height: 15em !important;
    overflow: hidden;
  }
  .social ul li .github {
    right: 23em;
    padding-top: 7em;
  }
  .social ul li .github svg {
    width: 8em;
    height: 8em;
  }
  .social ul li .linkedin {
    right: 12em;
    padding-top: 7em;
  }
  .social ul li .linkedin svg {
    width: 8em;
    height: 8em;
  }
  .social ul li .cv {
    right: 2em;
    padding-top: 7em;
  }
  .social ul li .cv svg {
    width: 8em;
    height: 8em;
  }
}/*# sourceMappingURL=main.css.map */